*.json~
*.js~
*.target
*.Makefile
!nodemsi.sln
*.suo
!custom_actions.vcxproj
*.vcxproj.user
*.vcxproj.filters
UpgradeLog*.XML
_UpgradeReport_Files/
ipch/
npm-debug.log
node_modules
bower_components
Debug
Release
package-lock.json
